* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b2c8df;
}
main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.title,
.welcomeSegment-mobile,
.seasonalIcon {
  margin: 1rem;
}

.timeAndSeasonIcon {
  display: flex;
  gap: 10px;
  margin: 5px 15px;
}

.seasonalIcon {
  margin: 0;
}

.calendarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  justify-content: center;
  color: cornflowerblue;
  margin: 1rem;
  gap: 1rem;
}

.buttons,
button {
  cursor: pointer;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 1rem;
  height: 100%;
}
.day {
  border: 1px solid rgba(0, 0, 0, 0.264);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* margin: 5px; */
  cursor: pointer;
  height: 100%;
  /* position: relative; */
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 1rem 0;
  padding: 0 1rem;
}

.currentDay {
  border: 1px solid black;
  background-color: #e8f4fa;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.currentDay:hover {
  transform: scale(1.1);
}

.daysItem {
  display: flex;
  justify-content: center;
}

.day:hover {
  background-color: #e8faed;
}

.dateCell {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todoCount {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5%;
  width: 10px;
  font-size: x-small;
  background-color: fuchsia;
  border-radius: 9999px;
}

.addToDo {
  cursor: pointer;
}

#showAllTodos {
  border-radius: 20px;
  margin-right: 8px;
  background-color: #2e4374;
  color: white;
}

.toDoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #b2c8df;
  width: 100%;
  padding: 1rem;
  margin-top: auto;
  max-height: 35vh;
  border-radius: 10px;
}

.toDo-activeDay {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
}

#itemsContainer {
  overflow: auto;
}

.toDoItems {
  background-color: white;
  border: 1px solid #ade8f4;
  color: black;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  border-radius: 6px;
}
.toDoItems-details {
  display: flex;
  flex-direction: column;
}
.toDoItems-actions {
  display: flex;
  gap: 1rem;
}
.toDo-activeDay .material-symbols-outlined {
  font-size: 2rem;
}
.toDoModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hide {
  display: none;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: steelblue;
  padding: 1rem;
}
.welcomeSegment-desktop {
  display: none;
}
.flex {
  display: flex;
}
.notificationModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.toDoInputStyle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalBackdrop-show {
  background-color: grey;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
}
.buttonDiv {
  display: flex;
  gap: 1rem;
  height: 2rem;
}
.buttonDiv button {
  width: 100%;
  border-radius: 0.3rem;
  border: none;
  background-color: steelblue;
  color: white;
}

@media screen and (min-width: 800px) {
  .welcomeSegment-desktop {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .welcomeSegment-mobile {
    display: none;
  }
  .toDoContainer {
    min-height: 100%;
    margin: 0;
  }
  .todoCount {
    width: 20px;
    font-size: medium;
  }
  main {
    display: flex;
    flex-direction: row;
  }
  aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
  }
  .calendarContainer {
    height: 100%;
  }
}
